.contained {
    color:white;
}
 .welcomeInfo {
    color:white;
}
.tagLine {
    color:white;
}
h3 {
    color:white;
}
.logoDiv {
    padding: 20px;
    background-color: rgb(51, 51, 51);
    box-sizing: border-box;
    width:16.66%;
}
.row {
    background-color: rgb(51, 51, 51);
}

.container {
    background-color: rgb(51, 51, 51);
}
.current_page {
    background-color: lightgray;
}